hello

<form name="payFormCcard" method="post" action="https://test.paydollar.com/b2cDemo/eng/payment/payForm.jsp">
  <input type="hidden" name="merchantId" value="1">
  <input type="hidden" name="amount" value="3000.0" >
  <input type="hidden" name="orderRef" value="000000000014">
  <input type="hidden" name="currCode" value="344" >
  <input type="hidden" name="mpsMode" value="NIL" >
  <input type="hidden" name="successUrl" value="http://localhost:5000/success">
  <input type="hidden" name="failUrl"    value="http://localhost:5000/fail">
  <input type="submit" value="Submit">
</form>

